<h1>编辑网站</h1>
<form action="/site/update/<%= @site.id %>" method="post">
	<input type="hidden" name="_method" value="patch" />
	<div>
		<label for="site[name]">网站名称:</label>
		<input type="text" name="site[name]" value="<%= @site.try(:name) %>" />
	</div>
	<div>
		<label for="site[mark]">网站标识:</label>
		<input type="text" name="site[mark]" value="<%= @site.try(:mark) %>" />
	</div>
	<div>
		<label for="site[url]">网址(http//):</label>
		<input type="text" name="site[url]" value="<%= @site.try(:url) %>" />
	</div>
	<div>
	<div>
		<label for="site[keyword]">选择器:</label>
		<input type="text" name="site[keyword]" value="<%= @site.try(:keyword) %>" />
	</div>
	<div>
		<label for="site[match_tags]">匹配标签:</label>
		<input type="text" name="site[match_tags]" value="<%= @site.try(:match_tags) %>" />
	</div>
	<div>
		<label for="site[ignore_tags]">过滤标签:</label>
		<input type="text" name="site[ignore_tags]" value="<%= @site.try(:ignore_tags) %>" />
	</div>
	<div>
		<label for="site[is_subdomain]">抓子域名:</label>
		<input type="radio" name="site[is_subdomain]" value="0" <%= @site.try(:is_subdomain)==0 ? 'checked="checked"' : '' %> />否
		<input type="radio" name="site[is_subdomain]" value="1" <%= @site.try(:is_subdomain)==1 ? 'checked="checked"' : '' %> />是
	</div>
	<div>
		<label for="site[conf]">间隔时间(s):</label>
		<input type="text" name="site[sleep]" value="<%= @site.try(:sleep) %>" />
	</div>
	<div>
		<label for="site[state]">状态:</label>
		<input type="radio" name="site[state]" value="0" <%= @site.try(:state)==0 ? 'checked="checked"' : '' %> />禁用
		<input type="radio" name="site[state]" value="1" <%= @site.try(:state)==1 ? 'checked="checked"' : '' %> />正常
	</div>
	<div>
		<label for="site[conf]">配置信息(用于动态执行此处):</label><br />
		<textarea name="site[conf]", style="width:800px;height:500px;" ><%= @site.try(:conf) %></textarea>
	</div>

	<input type="submit" value="提交" />
</form>
