<h1>详情</h1>
<hr />
<div>
	<h2>标题</h2>
	<span><%= @web_page.title %></span>
</div>
<div>
	<h2>原地址</h2>
	<span><a href="<%= @web_page.url %>" target="_blank"><%= @web_page.url %></a></span>
</div>

<div>
	<h2>描述</h2>
	<% if @web_page.description.present? %>
		<% @web_page.description.split('##').each do |d| %>
			<%= d %>
			<br />
		<%end%>
	<%end%>
</div>

<div>
	<h2>图片组</h2>
	<% if @web_page.image_group.present? %>
		<% @web_page.image_group.split('##').each do |d| %>
			<% arr = d.split('@@') %>
			<img src="<%= arr.first %>" width="350" />
			<br />
			<%= arr.last %>
			<br /><br />
		<%end%>
	<%end%>
</div>
